.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */
body {
  margin: 0px;
  font-family: roboto;
}
.header {
  color: #326a9d;
  font-size: 36px;
}
.description {
  color: #64748b;
  font-size: 18px;
}
.card {
  padding: 25px;
  border-radius: 8px;
  border: 1px solid #cbced2;
  list-style-type: none;
  width: 100%;
  max-width: 1200px;
  padding: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.show-more-btn {
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #326a9d;
  color: #326a9d;
  padding: 8px;
  font-size: 14px;
  background-color: #ffffff;
}
